.work {
    background: #fff;
    border-radius: 40px;
    width: 1000px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    margin: 30px 0px;
}

.work-container {
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
    min-height: 100vh;
}

.title1 {
    font-weight: bolder;
    font-size: 80px;
    padding-bottom: 30px;
    margin-top: 0px;
    color: rgb(0, 110, 255)
}

.work_sublinks {
    width: 100%;
    margin: 0px auto;
}

.work_sublinks nav {
    width: 500px;
}

.work_sublinks nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.work_sublinks nav ul li {
    text-decoration: none;
    list-style: none;
    min-height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.work-btn {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    font-weight: bolder;
    color: tomato;
    transition: all 0.5s ease;
    cursor: pointer;
}

.active {
    color: white;
    background-color: rgb(0, 110, 255);
}


/* Blogs Styling */

.blogs {
    width: 100%;
    margin: 0px auto;
    height: fit-content;
}

.blogs_container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(max-width:1350px) {
    .work {
        width: 700px;
    }
    .work_sublinks nav {
        overflow-x: scroll;
    }
    .title1 {
        font-size: 60px;
    }
}

@media(max-width:1020px) {
    .work {
        width: 94vw;
    }
    .work_sublinks nav {
        width: 80vw;
        overflow-x: scroll;
    }
    .title1 {
        font-size: 40px;
    }
    .work-container {
        padding-left: 10px;
    }
}